<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/otvl_ansible/src/python/otvl_cloud/otvl_network_configurator.py"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="OTVL_NC_FAKEIFUP" value="1"/>
        <mapEntry key="OTVL_NC_FIC" value="1"/>
        <mapEntry key="OTVL_NC_LOGFILE" value="/tmp/otvl_nc.log"/>
        <mapEntry key="OTVL_NC_LOGGING" value="DEBUG"/>
        <mapEntry key="OTVL_NC_NCF" value="int_test/oan/data/input/network_config.yml"/>
        <mapEntry key="OTVL_NC_NIF" value="int_test/oan/data/input/interfaces"/>
        <mapEntry key="OTVL_NC_RCF" value="int_test/oan/data/input/resolv.conf"/>
        <mapEntry key="OTVL_NC_RCR" value="int_test/oan/data/input/resolv.conf.reference"/>
        <mapEntry key="OTVL_NC_STD" value="int_test/oan/data/output"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:otvl_ansible/src/python/otvl_cloud/otvl_network_configurator.py}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_OTHER_WORKING_DIRECTORY" value="${workspace_loc:otvl_ansible}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value=""/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:otvl_ansible}"/>
    <stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
    <stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="otvl_ansible"/>
    <intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
    <stringAttribute key="process_factory_id" value="org.python.pydev.debug.processfactory.PyProcessFactory"/>
</launchConfiguration>
